:root {
  --red: #a10000;
  --bg-main: #e3b3b3;
  --bg-light: #fcfcfc;
  --gray-light: #ebebeb;
  --font-lg: 1.5rem; 
  --font-xl: 2rem;    
  --font-xxl: 2.5rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
ul,
ol,
p,
figure {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-main);
  padding-bottom: 4rem;
}
.main-content {
  margin: 0 auto;
  max-width: 1280px;
}

.recipe-cover {
  height: 500px;
  background-image: url("/images/pancake1.jpg");
  background-size: cover;
  background-position: center;
}

.recipe-container {
  background-color: var(--bg-light);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.recipe-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipe-title {
  color: var(--red);
  font-size: var(--font-xxl);;
  font-weight: 700;
}

.recipe-description {
  padding: 1.5rem;
  background-color: var(--gray-light);
  font-size: var(--font-lg);;
}

.recipe-subtitle {
  font-size: var(--font-xl);;
  font-weight: 700;
}

.recipe-portions {
  font-weight: 500;
  margin-left: 1rem;
}
.recipe-section {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.recipe-list {
  list-style-position: outside;
  padding-left: 2rem;
  font-size: var(--font-lg);;
}

.recipe-images-container {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}
.recipe-image-wrapper{
  flex: 1;
}

.recipe-image {
  width: 100%;
  height: 467px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .recipe-container {
    padding: 4rem 2rem;
  }

  .recipe-images-container {
    flex-direction: column;
  }

  .recipe-portions {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 1280px) {
  body {
    padding-bottom: 0;
  }
}
