*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.pageWrapper {
  background-color: #e3b3b3;
  padding-bottom: 64px;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
}
.headerImageContainer {
  height: 500px;
}
.headerImage {
  object-fit: cover;
  height: 500px;
  width: 100%;
}
.recipeContainer {
  background-color: #fcfcfc;
  padding: 64px;
}
.recipeTitle {
  color: #a10000;
  font-size: 40px;
  font-weight: 700;
}
.recipeDescription {
  margin: 32px 0;
  padding: 24px;
  background-color: #ebebeb;
  font-size: 24px;
}
.recipeSubtitle {
  font-size: 32px;
  font-weight: 700;
}
.recipePortions {
  font-weight: 500;
}
.recipeIngredientsList {
  list-style-position: inside;
  margin-top: 11px;
  font-size: 24px;
}
.recipeSteps {
  margin-top: 32px;
}
.recipeStepsList {
  margin-top: 14px;
  list-style-position: inside;
  font-size: 24px;
}
.recipeImages {
  margin-top: 32px;
}
.recipeImagesContainer {
  margin-top: 20px;
  display: flex;
  gap: 24px;
  width: 100%;
}
.recipeImage {
  max-width: calc(50% - 12px);
  height: 467px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .recipeContainer {
    padding: 64px 32px;
  }
  .recipeImagesContainer {
    flex-direction: column;
  }
  .recipeImage {
    max-width: 100%;
  }
}
@media (max-width: 1280px) {
  .pageWrapper {
    padding-bottom: 0px;
  }
}
